<h1 mat-dialog-title style="text-align: center;"> <b>Product Details </b> </h1>
<hr>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;<b>Product Name:</b>&nbsp; {{data.productname}}</mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;<b>Product Type:</b>&nbsp; {{data.producttype}} </mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <br>
    <br>
    <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;<b>Product Discription:</b>&nbsp; &nbsp;{{data.productdiscription}}</mat-list-item>
    <br>
    <br>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;<b>Product Price:</b> &nbsp; {{data.productprice}}</mat-list-item>
    <!-- <mat-divider></mat-divider> -->
    <mat-list-item>&nbsp;&nbsp;&nbsp;&nbsp;<b>Bid Amount:</b> &nbsp; {{data.bid}}</mat-list-item>
  </mat-list>
</div>